*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
}
html{
    font-size: 52.6%;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
}
body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#3f87a6 10%, #ebf8e1a2 10%),
  linear-gradient(to right, #ebf8e100 10%, #c73030 10% 10.2%, #ebf8e100 10.5%);
  background-size: 100% 25px, 100% 100%;
  background-repeat: repeat, no-repeat;
  overflow: hidden;
}
.title{
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    h2{
        font-size: 3rem;
    }
    h1{
        font-size: 3rem;
    }
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
    .contenedor{
        max-width: 360px;
        background-color: none;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        display: flex;
        flex-wrap: wrap;
       #display{
        width: 100%;
        height: 60px;
        margin: 0 auto;
        font-size: 3rem;
        text-align: right;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 20px;
        color: black;
        background-color: darkcyan;
        border: none;
        box-sizing: border-box;
       } 
       .operator{
        color: blue;
       }
       #ac{
        color: black;
        background-color: red;
       }
       .equal{
        width: calc(50% - 10px);
       }
       button{
        width: calc(25% - 10px );
        height: 50px;
        font-size: 3rem;
        margin: 10px 5px;
        border: none;
        border-radius: 8px;
        float: left;
        background-color: #3f87a6;
        color: black;
        -webkit-box-shadow:-1px 1px 30px -5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:-1px 1px 30px -5px rgba(0, 0, 0, 0.2);
        box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
        transition: all 1s;
       }
       button:hover{
        cursor: pointer;
        transform: scale(1.2);
       }
       button:active{
        box-shadow: 0 24px 4px 1px rgba(0, 0, 0, 0.20), 0 1.5 1.5 rgba(0, 0, 0, 0.23);
       }
    }
}